allow location permission_service:service_manager find;
allow location self:capability net_raw;
allow location diag_prop:file r_file_perms;
set_prop(location, diag_prop);
