allow ueventd rtc_sysfs:dir { read open search };
allow ueventd rtc_sysfs:file { rw_file_perms };
allow ueventd rtc_sysfs:lnk_file { getattr };
allow ueventd sysfs:dir { search read open };
allow ueventd healthd_sysfs:lnk_file { getattr };
allow ueventd healthd_sysfs:dir { search open read };
allow ueventd healthd_sysfs:file { open read getattr };
allow ueventd sysfs:file { open read getattr };
